body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  padding-top: 100px;
  background-color: #ffe8df;
  position: relative;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: blue;
}
h1 {
  margin: 0;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 35px;
}

.bottom-cloud {
  position: absolute;
  left: 30%;
}
